*{
    padding: 0;
    margin: 0;


}

img {
    margin: 20px;
    
    
}

body {
    width: 700px;
    height: 700px;
    

}
.content-wrapper {
    width: 100%;
    margin: 20px, 20px, 20px, 20px;

}
.content-wrapper img{
    width: 200px;
    height: 200px;

}
.text-wrapper{
    position: relative;
    

}
.text-wrapper h2{
    margin: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-275px, -160px);
  border-style: dotted;

}

.floating img{
    float: left;
    width: 200px;
    height: 200px;
    
}
#rcorners {
    border-radius: 25px;
  border: 2px solid #0d1403;
  padding: 20px; 
  width: 200px;
  height: 150px;
  float: right;
  
}